body{
    font-family: sans-serif;
    margin:0px;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27,27,27);
    color: seashell;
    height: 5vh;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;;
}
.outer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.productcard{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 40%;
    width:20%;
    padding:20px;
    transition: 0.5s;
    

}
.productcard:hover{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 42%;
    width:21%;
    padding:20px;
    transition: 0.5s;

}

.thumb{
    width:80%;
}
nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width:10%;
    height: 80vh;
}
li{
    list-style: none;
    padding:2px;
}
.productcards{
    display: flex;
    justify-content: space-around;
     flex-wrap: wrap;  
     align-items: center; 
    height:90vh;
    width: 88%;
   
}

.des{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:80vh;
    width: 85%;
  
}

.cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:60vh;
  
    width: 40%;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height:40vh;
    width: 60%;
    
    padding:20px;
}

.cart{
    display: none;
    z-index: 1;
    position:absolute;
    top:6%;
    right:1%;
    background-color: white;
    color:black;
    width:20%;
    box-shadow: 10px 10px 5px grey;
    border-radius: 10px;
    padding:20px;

}
.dropdown{
    padding:5px 10px;;
    background-color: rgb(27,27,27);
    cursor: pointer;
    border:1px solid white;
    border-radius: 10px;
    transition: 0.5s;
}
.dropdown:hover{
    border:1px solid white;
    background-color: white;
    color:black;
    cursor: pointer;
    transition: 0.5s;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}

.category-search{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width:100%;
}

.category{
    cursor: pointer;
    width: 100%;
    color:black;
    transition:0.5s;
    font-size: 90%;
    outline:none;
    border:none;
    border-radius: 5px;
    height:8%;
}

.category:hover{
    cursor: pointer;
    width: 100%;
    background-color:rgb(27,27,27);
    color:white;
    transition: 0.5s;
}

#head{
    font-size: 100%;
}
.search{
    width:50%;
}
.searchkey{
    width:80%;
    outline:none;
    border:none;
    color:white;
    border-bottom:2px solid white;
    background-color: rgb(27,27,27);
    transition: 0.5s;
}
.searchkey:focus{
    width:80%;
    color:white;
    outline:none;
    border:none;
    border-bottom:2px solid red;
    background-color: rgb(27,27,27);
    transition: 0.5s;
}
.searchbtn{
    outline:none;
    border:none;
    background-color:rgb(27,27,27);
    padding:5px 10px;
    color:grey;
    transition: 0.5s;
}

.searchbtn:hover{
    outline:none;
    border:none;
    background-color:white;
    padding:5px 10px;
    color:black;
    transition: 0.5s;
}
.removebtn{
    border:none;
    background-color: white;
    border-radius: 10px;
    padding:5px;
    transition: 0.2s;
}
.removebtn:hover{
    border:none;
    background-color: black;
    color:white;
    border-radius: 10px;
    padding:5px;
    transition: 0.2s;
}

.buy{
    border:none;
    background-color: rgb(27,27,27);
    color:white;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.5s;
}
.buy:hover{
    border:1px solid black;
    background-color: white;
    color:black;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.5s;
}

.price{
    color:red;
    font-weight: bold;
}
.prdnm{
    font-weight: bold;
}
.title{
    font-size:700%;
    font-weight: bold;
    font-family:'Brush Script MT', cursive;
}

.add{
    width:40%;
    border:1px solid black;
    border-radius: 10px;
    background-color: rgb(27,27,27);
    color: white;
    padding:10px 5px;
    transition: 0.2s;
}
.add:hover{
    width:40%;
    border:1px solid black;
    border-radius: 10px;
    background-color: white;
    color:black;
    padding:10px 5px;
    transition: 0.2s;
}
.productimg{
    width:30%;
}

.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}
.details{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:100%;
}

.buyfinal{
    border:1px solid black;
    border-radius: 20px;
    height: 50vh;
    width:30%;
    padding:30px;
}
.bill{

    border:1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width:30%;
    padding:30px;
}
.billinner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 120%;;
}

table,td,tr{
    padding:20px 60px;
}

.cli-info{
    border:none;
    width:60%;
    height: 4vh;
    border-radius: 15px;
    outline: none;
    border-bottom:2px solid black;
    transition:0.5s;
}

.cli-info:focus{
    border:none;
    border-bottom:2px solid blue;
    transition:0.5s;
}

    