body{
	background-color:black;
	background-image:url(back.gif);
	background-repeat:no-repeat;
	background-position:50% 35%;
	width:100%;
	background-size:100%;
	overflow-x:hidden;
	
}
header{
	text-align:center;
	color:white;
	font-family:'Brush Script MT', cursive;
	font-size:50px;
	background-color:black;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:150px;
}

footer{
	color:white;
	text-align:center;
	font-family:'Brush Script MT', cursive;
	font-size:30px;
	
}
h1{
	margin-top:5px;
}
div{
	margin-left:auto;
	margin-right:auto;
	margin-top:15%;
	background-color:white;
	width:350px;
	padding:50px;
	text-align:center;
	border-radius:40px;
	font-family:sans-serif;
}

input{
	padding:10px;
	border-radius:15px;
	background-color:rgb(27,27,27);
	color:white;
}

#submit:hover{
	background-color:SlateBlue;
	cursor:pointer;
	transition:0.5s;
}
#submit{
	transition:0.5s;
}

#reset:hover{
	background-color:red;
	cursor:pointer;
	transition:0.5s;
}
#reset{
	transition:0.5s;
}
